/*======================= GOOGLE FONTS ======================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*======================= VARIABLES CSS ======================*/
:root {
    --text-color: white;
    --font-size: 0.65rem;
    --font-weight: 600;
    --body-font: "Poppins", sans-serif;
    --body-bg: #333;
    --letter-space: 1px;
    --kb-body-color: #333;
    --kb-inner-color: ;
    --kb-btn-color: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    --kb-btn-effect-color: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    --kb-key-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25),
        0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    --kb-key-effect-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
        10px 5px 10px rgba(0, 0, 0, 0.15);
    --kb-border-color: rgb(65, 65, 65);
}


/*====================== BASE ======================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--body-bg);
    font-family: var(--body-font);
}

.display {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background: rgb(65, 65, 65);
    border-radius: 30px;
}

.display input {
    position: relative;
    width: 90%;
    height: 100%; 
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgb(214, 212, 212);
    text-align: start;
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;
}

.key {
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: 0.6rem;
    margin: 1.5px;
    padding: 2px;
    cursor: pointer;
    font-weight: var(--font-weight);
    background: var(--kb-btn-color);
    /* box-shadow: var(--kb-key-shadow); */
    user-select: none;
}

.key::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 8px;
    right: 6px;
    background: var(--kb-btn-effect-color);
    border-radius: 5px;
    box-shadow: var(--kb-key-effect-shadow);
    border-left: .5px solid #0004;
    border-bottom: .5px solid #0004;
    border-top: .5px solid #0009;
}

.key:active {
    filter: brightness(1.5);
}

.key i {
    z-index: 1;
    font-style: normal;
    position: relative;
    top: 6px;
    left: 6px;
}


.keyboard {
    position: relative;
    top: 0;
    left: 0;
    width: 78rem;
    height: 25rem;
    background: var(--kb-body-color);
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 25px 25px 75px 0px rgba(0, 0, 0, 0.25),
    10px 10px 70px 0px rgba(0, 0, 0, 0.25),
    inset -5px -5px 15px 0px rgba(0, 0, 0, 0.5),
    inset 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.keyboard .logo {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--kb-border-color);
    border: 3px solid var(--kb-border-color);
    border-radius: 50%;
}

.keyboard .logo i {
    font-style: normal;
    transform: rotate(-40deg);
}

.keyboard .keyboard-border {
    position: relative;
    top: 0;
    left: 0;
    width: 77rem;
    height: 24rem;
    background: transparent;
    border: 3px solid var(--kb-border-color);
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 5px;
    display: grid;
    grid-template-rows: 4.5rem 17.5rem;
    padding: 0.8rem;
}

.keyboard .kb-first-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16.6rem;
}



.kb-first-row .group {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background: black;
    border: 1px solid black;
    border-radius: 8px;
    gap: .5px;
    padding: 1px;
}


.single {
    border: 2px solid black;
    box-shadow: 2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
}


.kb-second-row {
    display: grid;
    grid-template-columns: 47.5rem 10rem 14.3rem;
    padding: 15px 0px;
    grid-gap: 2.4rem;
}

.kb-second-row .kb-first-column {
    position: relative;
    background: black;
    width: 48.35rem;
    height: 16.9rem;
    padding: 2px;
    border-radius: 10px;
}



.kb-second-row .kb-second-column {
    position: absolute;
    top: 100px;
    right: 254px;
    display: flex;
    flex-direction: column;
}

.kb-second-column .row-1 {
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 5px;
    padding: 2px;
}

.row-1 .key-row-1 {
    position: relative;
    display: flex;
}

.row-1 .key-row-2 {
    position: relative;
    display: flex;
}

.kb-second-column .row-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.row-2 .single i {
    position: relative;
    top: 13px;
    left: 13px;
    font-size: 16px;
}

.row-2 .key-row {
    display: flex;
    background: black;
    border-radius: 8px;
    padding: 2px;
    position: relative;
}

.key-row i {
    position: relative;
    top: 15px;
    left: 14px;
    font-size: 16px;
}

.row-2::before  {
    content: "";
    position: relative;
    top: 52.8px;
    left: -34px;
    width: 15px;
    height: 15px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 5px 0 black;
    /* background: red; */
}

.row-2::after {
    content: "";
    position: relative;
    top: -67px;
    right: -32px;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 8px;
    box-shadow: -4px 4px 0 black;
}

.kb-second-row .kb-third-column {
    position: absolute;
    top: 100px;
    right: 10px;
    background: goldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2px;
    border-radius: 7px;
    background: black;
}
.kb-third-column .plus {
    grid-row: span 2;
    height: 104px;
}

.kb-third-column .zero {
    grid-column: span 2;
    width: 105px;
}

/* .kb-second-row .kb-third-column {
    position: relative;
    grid-column: span 4;
} */

.kb-first-column {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    /* padding-left: 2px; */
}

.kb-first-column .key {
    line-height: 1rem;
}

.kb-first-column .rows {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
}

.num-row .backspace {
    width: 78px;
}

.top-row .tab {
    width: 60px;
}

.home-row .caps-lock {
    width: 75px;
}

.home-row .enter {
    width: 100px;
}

.bottom-row .shift {
    width: 117px;
}

.func-row .ctrl {
    width: 80px;
}

.func-row .window,
.func-row .alt,
.func-row .document {
    width: 65px;
}

.func-row .window,
.func-row .document {
    font-size: 1.2rem;
}

.func-row .space {
    width: 260px;
}

footer {
    position: absolute;
    bottom: 0;
    color: rgb(139, 139, 139);
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

